<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.nowon.domain.member.dao.MemberMapper">
	<select id="getListWithPagination" resultType="com.green.nowon.domain.member.MemberEntity">
		select * from member
	</select>
</mapper>